{% extends 'base.html' %}

{% block head %}
<title>Pro X Planner</title>
<script src="/static/js/script.js" type="module"></script>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Pro X Entertainment: Client Services</h1>
    <input type="button" onclick="location.href='/manager'" value="I'm a Manager">
    <input type="button" onclick="location.href='/client'" value="I'm a Client">
</div>
<div>
    <h2>Spotify</h2>
    <section id="profile">
        <h2>Logged in as <span id="displayName"></span></h2>
        <span id="avatar"></span>
        <ul>
            <li>User ID: <span id="id"></span></li>
            <li>Email: <span id="email"></span></li>
            <li>Spotify URI: <a id="uri" href="#"></a></li>
            <li>Link: <a id="url" href="#"></a></li>
            <li>Profile Image: <span id="imgUrl"></span></li>
        </ul>
        </section>
</div>
{% endblock %}